/node_modules
/public_html/storage
/public_html/.htaccess
/public_html/hot
/public_html/web/css/.sass*
/public_html/mobile/css/.sass*
/storage/*.key
/storage/app/public/*
/storage/app/Users/*
/storage/logs/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/debugbar/*
/vendor
/.idea
.DS_Store
Homestead.json
Homestead.yaml
.env*
/public_html/.htaccess
/public_html/web/dev
todolist
/docker
